.container {
  width: 950px;
  margin: 0 auto;
  background: #eaeaea;
  padding: 20px;
}

.amarillo {
  height: 150px;
  background: #ffc400;
  display: block;
  margin-bottom: 15px;
}

.rosa {
  display: inline-block;
  width: 700px;
  min-height: 420px;
  background: #ff1787;
  padding: 16px;
}

.celeste {
  vertical-align: top;   
  display: inline-block;
  width: 190px;
  min-height: 420px;
  background: #73d3ff;
  margin-left: 18px;
}

.azul {
  display: inline-block;
  width: 210px;
  height: 210px;
  background: #0a08d9;
  margin-right: 18px;
  font-size: 16px;
}

.verde {
  display: block;
  width: 640px;
  height: 130px;
  background: #36cd36;
  margin-top: 16px;
}
