* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  align-items: center;
  background-color: #d6a6be;
  font-size: 28px;
}
#navbar, #logo {
  flex: 1;
  color: aliceblue;
  display: flex;
  padding: 15px 100px;
}
#subnav {
  background-color: #cccccc;
  flex: 1;
  color: aliceblue;
  display: flex;
  padding: 12px;
}
h1 {
  font-size: 48px;
}
span {
  color: #333333;
}
#navbar ul, #subnav ul {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
#navbar a, #subnav a {
  font-weight: lighter;
  text-decoration: none;
  color: #333333;
}
.boton {
  color: #333333;
  background-color: aliceblue;
  font-weight: bold;
  border-radius: 2px;
  border: 2px solid #333333;
  box-shadow: 6px 6px 0 #333333;
  padding: 10px 20px;
}


#flor_mes {
  margin: 24px;
  text-align: center;
  align-items: center;
}
#flor_mes h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 44px;
  margin-bottom: 24px;
}
.flor_img {
  width: 65%;
  margin: 0 auto 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#mas_resultado {
  width: 75%;
  margin: 0px auto 10px;
  display: flex;
  justify-content: space-between; 
}
.catalogo {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;        
}
.producto {
  background: #eeee;
  padding: 18px;           
  width: 29%;
  margin-right: 0;
  margin-top: 10px;
}
.bloque {
  width: 100%;
  height: 240px;  
  display: block;
}
.fila-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
}
.titulo { 
    font-style: italic;
    text-decoration: underline;
}
.precio { 
    color: #d35a84; 
    font-weight: 700; 
    margin-top: 4px; 
}
.btn-comprar {
  padding: 6px 10px;
  background: #d6a6be;
  box-shadow: 6px 6px 0 #333333;
  color: #fff;
  text-decoration: none;
}


.barra_final{
  background-color:#d6a6be;
  padding: 10px;     
  margin-top: 3%;
}